/* 
 * 수정 자유롭게 해주셔도 괜찮습니다 :)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neutral-light-white: #FFFFFF;
  --neutral-light-300: #dedede;
  --neutral-dark-600: #9F9F9F;
  --neutral-dark-700: #7d7d7d;
  --neutral-dark-800: #4B4B4B;
  --neutral-dark-black: #000000;
  --green-base-500: #2BC9BA;
}

body {
  font-family: Roboto, 'Segoe UI', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 8rem 10px 4rem;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 1px var(--neutral-light-300) inset;
  border-radius: 6px;
  padding: 12px 13px;
  gap: 8px;
  position: relative;
}

.form-container:hover {
  box-shadow: 0 0 0 3px var(--neutral-light-300) inset;
}

.form-container:focus-within,
.form-container.typing,
.form-container.searching {
  box-shadow: 0 0 0 1px var(--neutral-dark-600) inset;
}

.icon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.icon-search {
  background-image: url(./assets/search.svg);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.icon-loading {
  background-image: url(./assets/loading.svg);
  animation: spin 1s linear infinite;
}

.input-text {
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  flex: 1;
  background-color: transparent;
  color: var(--neutral-dark-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-text::placeholder {
  color: var(--neutral-dark-600);
}

.dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 164px;
  overflow: auto;
  margin-top: 4px;
  padding: 9px 5px;
  background-color: var(--neutral-light-white);
  border-radius: 5px;
  border: 1px solid var(--neutral-light-300);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.05), 0px 2px 4px rgba(50, 50, 50, 0.1);
}

.dropdown-item {
  list-style: none;
  padding: 6px 12px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-item>.text {
  white-space: break-spaces;
}

.dropdown-item>.same {
  color: var(--green-base-500);
}

.btn-plus {
  color: darkcyan;
  font-size: 20px;
}

.btn-trash {
  color: orangered;
  font-size: 16px;
}

.btn-plus:hover,
.btn-trash:hover {
  opacity: 0.5;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.main__content {
  flex: 7;
}

.main__content h1 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 30px;
}

.main__content p {
  line-height: 25px;
}

.empty-list {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
  margin-left: 0.75rem;
  color: #ececec;
}

.item {
  list-style-type: none;
  padding: 17px 1.5rem;
  border-bottom: 1px solid #eaeaea;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.item:hover {
  opacity: 0.85;
  background-color: #eaeaea;
}

.item-option {
  float: right;
}

.item-option button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.spinner {
  font-size: 20px;
  animation: spin 2s linear infinite;
  display: flex;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}